h1 {
    color: blue;
    font-size: 8vw;
  }

.headers {
    color:rgb(76, 157, 172);
    font-size: 5vw;
}

#stuart {
    color:#FA3030;
    
}

#date {
    color:hsl(100, 100%, 50%);
    font-size: 3vw;
}

#agenda {
    background-color: ivory; 
    color: black
}

p {
    font-size: 12px;
}

.box_one {
    border-width: 3px;
    border-style: solid;
    border-color:hsl(100, 100%, 50%); 
    border-top-right-radius: 1em 10%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.box_two {
    border: 5px solid red;
    margin: 4px 10px 10px 10px;
    padding: 8px 14px 2px 10px;
}

.box_three {
    margin: auto;
    border: 2px solid hsl(50, 10%, 1%);
}

#lake_image {
    width: 300px;
}

#content_header {
    font-size: 15px;
}

