@media all {
    body {
        background-color: rgb(20, 10, 10);
    }
}

h1 {            /* Setting color and size of main  header */
    color: blue;
    font-size: 8vw;
  }

.headers {
    color:rgb(76, 157, 172);
    font-size: 5vw;
    text-decoration: underline;
    text-align: left;
}

#stuart {
    color:#FA3030;
    
}

#date {
    color:hsl(100, 100%, 50%);
    font-size: 3vw;
}

#agenda {
    background-color: ivory; 
    color: black
}

p {
    font-size: 12px;
}

.box_one {
    border-width: 3px;
    border-style: solid;
    border-color:hsl(100, 100%, 50%); 
    border-top-right-radius: 1em 10%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;

    color: yellow;

    display: inline-block;
}

.box_two {
    border: 5px solid red;
    margin: 4px 10px 10px 10px;
    padding: 8px 14px 2px 10px;

    max-width: 70vw;
    max-height: 30vw;

    position: static;
}

.box_three {
    margin: auto;
    border: 2px solid hsl(50, 10%, 1%);

    ;
}

.box_four {
    display: none;
}

#lake_image {
    height: 200px;
    width: 300px;

    position: sticky;
    top: 20px;
}

#content_header {
    font-size: 15px;
}

button:hover {
    color: blue;
}

button:active {
    color: purple;
}

.flexbox_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.flexbox_item {
    background:rgb(76, 157, 172);
    width: 200px;
    height: 100px;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    font-size: 2em;
    text-align: center;
}

.grid_holder {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-start: auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    margin: 20px;
}

.grid_item {
    border: 2px solid blue;
    padding: 20px;
    text-align: center;
}