@font-face {
    font-family: "Noto sans";
    src: url("https://fonts.google.com/download?family=Noto%20Sans%20Display");
  }

@media all {
    body {
        background-color: rgb(20, 10, 10);
    }
}


.headers {
    color:rgb(76, 157, 172);
    font-size: 5vw;
    text-decoration: underline;
    text-align: left;
}

.headers[target] {
    border: 3px solid yellow;
}

#stuart {
    color:#FA3030;
    
}

#date {
    color:hsl(100, 100%, 50%);
    font-size: 3vw;
}

#agenda {
    background-color: ivory; 
    color: black
}


.box_one {
    border-width: 3px;
    border-style: solid;
    border-color:hsl(100, 100%, 50%); 
    border-top-right-radius: 1em 10%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;

    color: yellow;

    display: inline-block;
}

.box_two {
    border: 5px solid red;
    margin: 4px 10px 10px 10px;
    padding: 8px 14px 2px 10px;

    max-width: 70vw;
    max-height: 30vw;

    position: static;
}

.box_three {
    margin: auto;
    border: 2px solid hsl(60, 51%, 33%);
}

.box_four,
.box_five {
    display: none;
}

#lake_image {
    height: 200px;
    width: 300px;

    position: sticky;
    top: 20px;
}

#content_header {
    font-size: 15px;
}

button:hover {
    color: blue;
}

button:active {
    color: purple;
}

.flexbox_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.flexbox_item {
    background:rgb(76, 157, 172);
    width: 200px;
    height: 100px;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    font-size: 2em;
    text-align: center;
}

.grid_holder {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-start: auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    margin: 20px;
}

.grid_item {
    border: 2px solid blue;
    padding: 20px;
    text-align: center;
}


div h2 {
    border: 3px solid rebeccapurple;
}

div > h2 {
    color:hsl(100, 100%, 50%)
}

div ~ p {
    background-color: lavender;
}

div + p {
    text-decoration: underline;
}